<div class="my-5">
    <h1 class="text-center mb-5">Similar Movies to {{movie}}</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <a class="col" *ngFor="let movie of movies" routerLink="/similar-movies/{{movie.title}}" routerLinkActive="active">

            <div class="card"  data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                <img src="../../assets/avengers.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> <strong>Original Title: </strong> {{movie.title}}:</h5>
                    <!-- <p><strong>Original Language:</strong> {{movie.original_language}}</p>
                    <p><strong>Movie ID:</strong> {{movie.id}}</p>
                     -->
                </div>

            </div>

        </a>
        
    </div>
    

<!--   
      <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center mt-3">
              <li class="page-item" ><button  class="page-link" (click)="prevPage()" [disabled]="offset==0">Prev</button></li>
              <li class="page-item"><a class="page-link" >Page {{pageNumber}}</a></li>
              <li class="page-item" ><button  class="page-link" (click)="nextPage()" [disabled]="lastP==0">Next</button></li>
  
          </ul>
      </nav> -->
  
  </div>
  